@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

i.fi {display: grid; place-items: center;}

i.fi.fi12 {font-size: 12px;}
i.fi.fi16 {font-size: 16px;}
i.fi.fi24 {font-size: 24px;}
i.fi.fi32 {font-size: 32px;}
i.fi.fi48 {font-size: 48px;}
i.fi.fi64 {font-size: 64px;}