button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;

    padding: 4px 12px;

    font-size: 16px;
    color: #fff;

    position: relative;

    cursor: pointer;
    transition: color 250ms;
}
button.sec {background-color: var(--secondary-color);}

button.spinner {
    color: transparent;
}

button::after {
    content: "";

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 50%; aspect-ratio: 1;

    border-radius: 50%;
    border: 2px solid transparent;
    border-top: 2px solid #fff;

    opacity: 0;
    transition: opacity 250ms;
}
button.spinner::after {
    opacity: 1;
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    0% {transform: translate(-50%, -50%) rotateZ(0deg);}
    100% {transform: translate(-50%, -50%) rotateZ(360deg);}
}