main {
    display: flex; gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
}

main .grid {
    display: grid; gap: 10px;
    grid-template-columns: 1fr 1fr;

    width: min(1000px, 100%);
}

main .grid .item {
    color: #fff;
    text-decoration: none;
    font-size: 18px;

    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--border);
    background-color: var(--bg-grayed);
}

main .grid .item img {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;

    margin-bottom: 5px;
}

main .grid .item video {
    display: block;
    width: 100%; height: auto;
    border-radius: 10px;
    background-color: #000;

    margin-bottom: 5px;
}

main .grid .item p.author {
    font-size: 16px;
    color: var(--font-color-grayed);
}


@media only screen and (max-width: 620px) {
    main .grid {
        grid-template-columns: 1fr;
    }
}